body *{
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 900;
}

body {
  background-image: url("HealthyFood_07 copy.svg");
  background-repeat: repeat;
}

.page {
  width: 800px;
  border-radius: 10px;
  background-color:#DAF7A6;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 50px;
  padding-top: 35px;
}

.vis-container {
  width: 100%;

}

.description h2,
h1 {
  margin-top: 0px;
}

.description-right {
  padding-left: 30 px;
  border-radius: 10px;
  padding: 20px;
  background-color: #EFF9DC;
}

.description-left {
  padding-right: 20px;
  padding-left: 10px;
}

.pure-g {
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 15px;
  background-color: #EFF9DC;
}

.small-font {
  font-size: 14px;
}